html {
    scroll-behavior: smooth;
}

a {
    color: #000 !important;
}

a:hover {
    text-decoration: none !important;
}

.row {
    margin-right: 0 !important;
}

#main-content {
    width: auto;
    /* height: 100vh; */
    border-bottom: 1px solid #cccccc;
}

/* CSS side-bar  */
#side-bar {
    float: left;
    width: 250px;
    height: 100vh;
    background-color: #fff;
}

.img-toggle {
    width: 24px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 8px;
}

#logo {
    margin-top: 8px;
    width: 120px;
}

#side-bar .btn {
    width: 100%;
    text-align: left !important;
}

.btn:hover {
    background-color: #cccccc;
}

.img-btn {
    width: 20px;
    margin: 0 4px;
    margin-bottom: 4px;
}

/* CSS header  */
#header {
    border-bottom: 1px solid #cccccc;
}

#select-restaurant {
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
}

#info {
    padding-top: 12px;
    padding-bottom: 4px;
    display: -webkit-inline-box;
}

.fr-md {
    float: right;
}

@media (max-width:768px) {
    .fr-md {
        float: left;
    }
}

.img-avatar {
    width: 28px;
}

/* CSS content  */
#content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-right: 0;
    border-left: 1px solid #cccccc;
}

.btn-green {
    background-color: #019160 !important;
    color: #fff !important;
}

.btn-green:hover {
    background-color: #2FBE8E !important;
}

#search-input {
    background: url(icon/search.png) no-repeat scroll 8px;
    padding-left: 30px;
    width: 350px;
}

#refesh-btn {
    border: 1px solid #BBBBBB;
}

/* CSS table  */
th {
    border-top: none !important;
}

#info-employees {
    overflow-y: auto;
    height: 75vh;
}

#info-employees thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
}

/* custom scroll table */
#info-employees::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#info-employees::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px#E5E5E5;
    border-radius: 8px;
}

#info-employees::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 8px;
}

/* CSS pagination  */
.pagination-btn {
    border-radius: 50% !important;
    width: 28px;
    height: 28px;
    margin-top: 8px;
    margin-right: 4px;
    padding: 0 !important;
    text-align: center !important;
}

.pagination-btn:hover {
    background-color: #019160 !important;
    color: #fff !important;
}

#first-page {
    background: url('icon/btn-firstpage.svg') center;
}

#prev-page {
    background: url('icon/btn-prev-page.svg') center;
}

#current-page {
    background-color: #019160 !important;
    color: #fff;
}

.bg-grey {
    background-color: #E5E5E5 !important;
}

#next-page {
    background: url('icon/btn-next-page.svg') center;
}

#last-page {
    background: url('icon/btn-lastpage.svg') center;
}

/* CSS modal  */
.border-grey {
    border: 1px solid #E5E5E5 !important;
}

.hr-green {
    background-color: #019160;
    width: 100px;
    height: 4px;
    float: left;
    margin: 0;
}

#add-employee-modal input,
#add-employee-modal select {
    color: #000;
}

.btn-modal-footer {
    width: 100px;
    height: 44px;
}